---
---

@import 'variables';

html, body {
	margin: 0;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	min-width: $min-width;
}

table {
	width:auto;
	border-collapse: collapse;
	th{
		background-color: #f4f4f4;
		text-align: left;
	}
	th, td {
		border: 0.1rem solid #eee;
		padding: 0.3rem;
	}
}

* {
	box-sizing: border-box;
}

blockquote {
	border-left: 0.5rem solid;
	padding-left: 0.5rem;
	border-color: $blockquote-color;
	font-size: 0.9rem;
}

pre {
	margin-bottom: ($base-height * 2) !important;
}

a {
	text-decoration: none;
	color: $link-color-inactive;

	&:hover {
		color: $link-color;
	}
}

.wrapper {
	height: 100%;
	width: 100%;
	max-height: 100%;
	min-height: 100%;
	display: flex;
	overflow: hidden;
}

// Sidebar
.sidebar {
	display: block;
	width: 20%;
	max-width: $sidebar-width;
	padding: 0;
	border-right: $sidebar-border;
	height: 100%;
	overflow: hidden;
	color: $sidebar-color;

	.site-title {
		text-align: center;
	}
	.sidebar-main {
		height: 100%;
		background: $navigation-background;
		padding: $base-height;
	}

	.sidebar-mobile {
		display: none;
		height: $header-height;
		padding: $base-height;
		text-align: right;

		.close-icon, .menu-icon {
			width: 18px;
			cursor: pointer;
			height: auto;
			display: none;
		}
	}
}

.navigation {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		margin: 0;
		padding: 10px 15px;
	}

	a {
		display: block;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&.active {
			color: $navigation-link-color;
		}
	}
}

// Content
.content {
	display: flex;
  justify-content: center;
	min-height: 100%;
	height: 100%;
  width: 100%;
	overflow-y: auto;
	color: $content-color;
	line-height: 1.7;
	word-wrap: break-word;

	em {
		color: $content-color;
	}

	ul {
		padding-left: 1em;
	}

	ul#markdown-toc {
		padding-left: 0em;
		list-style: none;
	}

	:not(pre)>code {
		font-size: 1em;
	}

	.task-list-item {
		input[type=checkbox] {
			margin-right: 0.5em;
		}
	}
}

.inner {
	width: 100%;
	padding: $base-height ($base-height * 2) $base-height $base-height;
}

.section {
	margin-bottom: $base-height;
}

/**
* Mobile
*/
@media (max-width: $mobile-width) {
	.wrapper {
		flex-direction: column;
	}

	.sidebar {
		width: 100%;
		max-width: 100%;
		border-right: none;
		height: $header-height;

		.sidebar-mobile {
			display: block;

			.menu-icon {
				display: inline;
			}
		}

		&.opened {
			overflow: visible;
			height: auto;
			border-bottom: $sidebar-border;

			.sidebar-mobile {
				background: $navigation-background;
			}
		}
	}

	.content {
		width: 100%;
		margin-top: 0;
		height: calc(100% - #{$header-height});
		min-height: calc(100% - #{$header-height});
	}

	.inner {
		padding: $base-height;
	}
}
